<div id="<%= dom_id payer %>">
  <p>
    <strong>Name:</strong>
    <%= payer.name %>
  </p>

  <p>
    <strong>Bill name:</strong>
    <%= payer.bill_name %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= payer.account %>
  </p>

  <p>
    <strong>Sum:</strong>
    <%= payer.sum %>
  </p>

  <p>
    <strong>Invoke:</strong>
    <%= payer.invoke %>
  </p>

  <p>
    <strong>Active record:</strong>
    <%= payer.active_record %>
  </p>

</div>
