<div id="<%= dom_id bill %>">
  <p>
    <strong>Bill name:</strong>
    <%= bill.bill_name %>
  </p>

  <p>
    <strong>Institution:</strong>
    <%= bill.Institution %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= bill.price %>
  </p>

  <p>
    <strong>Invoke:</strong>
    <%= bill.invoke %>
  </p>

  <p>
    <strong>Active record:</strong>
    <%= bill.active_record %>
  </p>

</div>
